// Results view

@{
	ViewBag.Title = "Results";
}

<h2>Results</h2>
<p>Question One: </p>
<li>You selected @ViewData["Answer1"]</li>
<p>The correct answer was: <b>A</b>, The name says what it is</p>
<br />
<p>Question Two: </p>
<li>You selected @ViewData["Answer2"]</li>
<p>The correct answer was: <b>B</b>, Table</p>
<br />
<p>Question Three: </p>
<li>You selected @ViewData["Answer3"]</li>
<p>The correct answer was: <b>A</b>, Yes</p>
<br />