
@{
	ViewBag.Title = "Results";
}

<h2>Results</h2>

<p>
	For Question One, you answered @for (int i = 0; i < ViewBag.InformMethods.Count; i++)
	{
		@ViewBag.InformMethods[i]<br />
	}
</p>

<p>
	For Question Two, you answered @for (int i = 0; i < ViewBag.SomethingMethods.Count; i++)
	{
		@ViewBag.SomethingMethods[i]<br />
	}
</p>
