
@{
    ViewBag.Title = "UnsafeDeletion";
}

<h2>UnsafeDeletion</h2>
<p>The group can't be deleted yet since the following users are still assigned to the group: </p>
@foreach (var item in ViewData["UsersInGroup"] as List<AM_Assignment2.Models.ApplicationUser>)
{
    <li>@item.Email @item.Id</li>
}
