
@{
	ViewBag.Title = "Activity Three: Web Form Stuctures";
}

<h2>Html5 Web Form Structures</h2><br />
<p>Html5 Web Form Structures is an extension of Html4 Web Forms, with a greater degree of semantic mark-up than Html4 and removes a great deal of the need of tedious scripting and styling that was required in Html4.</p><br />
<p>Example of newly introduced elements:</p><br />
<p><b>number</b> - This accepts only a numerical value.</p><br />
<p><b>URL</b> - This accepts only a URL value. The form must be in http://example.com, or http://www.example.com to be accepted.</p><br />
<p><b>date</b> - A date (year, month, day) encoded according to ISO 8601.</p><br />


