
@{
	ViewBag.Title = "Activity One: HTML5 Semantics";
}

<h2>HTML5 Semantics</h2>

<p>HTML5 semantics are preferred over basic html semantics.</p>

<p>Semantic elements are tags that provide information about what they are or what they will store.</p>
<p>For example: &lt;div&gt; and &lt;span&gt; are non-semantic, whereas &lt;form&gt;, &lt;table&gt;, and &lt;article&gt; are semantic as it says what it is.</p>
<p>These are preferred over non-semantic as coders like to know what to put and where to put it.</p>

