@{
    ViewBag.Title = "Home Page";
}
@{
    if (HttpContext.Current.User.IsInRole("Administrator"))
    {
        <li><a href="Account/ShowUsers">Show users</a></li>
        <li><a href="Account/Register">Create user</a></li>
        <li><a href="Group/Index">Group management</a></li>
    }
    else
    {
        // Non-administrator view
    }
}

<div class="jumbotron">
    <h1>Learning Outcome</h1>
    <p class="lead">To be able to understand HTML5 semantics, input attributes and Web Form Stuctures</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Activity 1</h2>
        <p>
            HTML5 semantics
        </p>
        <p><a class="btn btn-default" href="/ActivityOne">Start&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Activity 2</h2>
        <p>Input attributes</p>
        <p><a class="btn btn-default" href="/ActivityTwo">Start&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Activity 3</h2>
        <p>Web Form Stuctures</p>
        <p><a class="btn btn-default" href="/ActivityThree">Start&raquo;</a></p>
    </div>
</div>